{% extends "base2.html" %}

{% block title %} Entrar {% endblock %}
{% block content %}

<h1>Aviso legal e política de cookies</h1>

<h2>Aviso legal</h2>

"Marea Atlántica"<br>
Enderezo <br>
CIF: <br>

http://mareatlantica.org


<h4>Sobre a Propiedade Legal e intelectual</h4>

A propiedade desta web e o seu contido é do Partido "Marea Atlántica", en adiante "Marea Atlántica". Queda prohibida a transmisión, cesión, venda e aluguer desta web sen a correspondente autorización das persoas propiearias. A información e consellos presentados nesta web son de carácter orientativo quedando a "Marea Atlántica" exenta de calquera responsabilidade derivada da falta de exactitude  ou efectividade en dita información ou consellos.

<p>"Marea Atlántica" resérvase o dereito de modificar o contido da web sen previo aviso e sen ningún tipo de limitación. A información remitida a esta web ou inserida a través dos seus formaularios deberás ser veraz e non vulnerará o dereito a terceiros nin a legalidade vixente.</p>

<p>"Marea Atlántica" declina calquera responsabilidade contractual ou extracontractual coa persoa ou empresa que tuvera prexuízos de calquera natureza ocasionados por virus informáticos ou por elementos informáticos de calquera índole ao non poder garantir ao 100% a ausencia de virus nin de outros elementos na web</p>

<p> <a href="http://guillermolazaro.com" target="blank"> Guillermo Lázaro </a> realizou o código orixinal. O código desta plataforma é un fork do código adaptado por Ahora Madrid e finalmente adaptado polo grupo de ferramentas da Marea Atlántica</p>

<h4>Condicións de Utilización da Web</h4>

<p>"Marea Atlántica" resérvase o dereito a actualizar, modificar ou eliminar a información contida nesta páxina e pode limitar ou non permitir o acceso a dita información. Especialmente, "Marea Atlántica" resérvase o dereito a eliminar, limitar ou impedir o acceso á súa web cando xurdan dificultades técnicas por feitos ou circunstancias alleas á "Marea Atlántica" que, ao seu criterio, diminúan ou anulen os niveis de seguridade adoptados para o axeitado funcionamiento da web.


<h4>Política de Protección de Datos Persoais</h4>

<p>Algúns servizos prestados na web poden conter condicións particulares con previsións específicas en materia de protección de Datos Persoais.

<p>Os datos persoais recollidos serán obxecto de tratamento automatizado e incorporados aos correspondentes ficheiros automatizados.

<p>A persoa usuaria garante que os datos persoais facilitados á "Marea Atlántica" son verdadeiros e faise responsable de comunicar calquera modificación nos mesmos.

<p>"Marea Atlántica", como responsable do ficheiro automatizado, garante o pleno cumprimento da normativa de Protección de Datos de Carácter Persoal, e así, de acordo coa L.O. 15/1999, as persoas apoderadas, intervinientes, autorizadas e, no seu caso, avalistas da entidade xurídica firmante quedan informadas e prestan o seu consentimento á incorporación dos seus datos aos ficheiros automatizados existentes.

<p>Ditos ficheiros rexistráronse na Axencia Española de Protección de Datos (www.agpd.es), tal como estipula a lei vixente.

<p>A recollida e tratamento automatizado dos datos persoais ten como finalidade o mantementeo da relación coa "Marea Atlántica", a xestión, administración, prestación, ampliación e mellora dos servizos nos que a persoa usuaria decida darse de alta, así como o envío por medios tradicionais e electrónicos, de información técnica e operativa da "Marea Atlántica".

<p>"Marea Atlántica" adoptou os niveis de seguridade de protección dos datos persoais legalmente requiridos, e procura instalar aqueles outros medios e medidas técnicas adicionais ao seu alcance para evitar a perda, mal uso, alteración, acceso non autorizado e roubo dos datos persoais facilitados á "Marea Atlántica". Porén, a persoa usuaria debe ser consciente de que as medidas de seguridade en Internet non son inexpugnables.

<p>As persoas usuarias da páxina teñen dereitos recoñecidos e poderán exercitar os dereitos de acceso, cancelación, rectificación e oposición, así como a seren informadas das cesións realizadas contactando coa "Marea Atlántica" a través do correo electrónico ola@mareatlantica.org

<p>"Marea Atlántica" pode utilizar cookies cando un usuario ou usuaria navega pola web, asociándos eunicamente co navegador dun computador determinado (usuario anónimo), e non proporcionan por si mesmas o nome e apelidos da persoa usauria. Gracias ás cookies, resulta posibl que "Marea Atlántica" recoñeza os navegadores das persoas rexistradas despois de que estás se rexistren por primeira vez, sen ter que rexistrarse en cada visita para acceder ás áreas e servizos reservados exclusivamente para elas. As cookies utilizadas non poden lor os arquivos cookie creados por outros provedores. A usuaria ten a posibilidade de configurar o seu navegador para que se lle avise por pantalla da recepción de cookies e para impedir a instalación de cookies no seu disco duro.



<h2>Política de cookies</h2>

<p>Navegar por esta web coas cookies activadas no navegador conleva de maneira imprescindible a aceptación do uso das mesmas conforme a presente política. Se non aceptas o uso de cookies, podes bloquealas no navegador. As cookies permiten á web lembrar as túas prefefencias e recoñecerte en sucesivas visitas. Isto consíguese almacenando no teu equipo de navegación certa información sobre o teu uso da web. Algunhas das cookies utilízanse por nos e por terceiros.

<h4>Que son as cookies?</h4>

<p>As "cookies" son pequenos ficheiros temporais que se crean no teu dispositivo de navegación (computador, teléfono, tableta, etc) cando visistas unha web, e que permiten á mesma almacenar información, por exemplo para gardar as túas preferencias de uso ou para recoñecerte en sucesivas visitas.

Cando unha web crear unha cookie no teu dispositivo, almacenase o seguinte:

O enderezo/dominio da web que creou a cookie
A duración da cookie, que pode ir de escasos minutos a varios anos
O contido da cookie.
En todo momento podes configurar o teu programa de navegación para impedir (bloquear) o uso de cookies por parte de determinadas webs, así como borrar as cookies almacenadas previamente.

<h4>Para que se usan as cookies?</h4>

<ul>
<li><strong>Cookies esenciais</strong>. Trátase de cookies técnicas necesarias para xestionar o fluxo de navegación dentro da web ou para manter a conexión á mesma. Se as deshabilitas, é posible que algún apartado da web non funcione correctamente.</li>

<li><strong>Cookies de personalización.</strong> Necesarias para recordar determinadas preferencias da persoa usuaria.</li>

<li><strong>Cookies analíticas.</strong> Axudannos a nos e a terceiros a recompilar información da procedencia de usuarios e usuarias e a súa navegación dentro da web, a efectos de realizar unha análise estatística para poder mellorar a súa estrutura e contidos.</li>

<li><strong>Cookies publicitarias.</strong> Utilizadas para xestionar os anuncios que aparecen na web, decidir o contido ou a frecuencia dos anuncios.</li>

<li><strong>Cookies publicitarias comportamentais.</strong> Axudan a recompilar os teus hábitos de navegación para crear un perfil de intereses que serve para mostrarte anuncios máis relevantes.</li>

<li><strong>Cookies para compartición social.</strong> Estas cookies son necesarias para identificarte nas túas redes sociais e así permitirte compartir contidos.</li>
</ul>
<h4>Que cookies utiliza esta web?</h4>

<p>Esta web utiliza cookies de terceiros. Navegar coas cookies activadas conleva necesariamente a aceptación da política de privacidade establecida polo provedor da cookie. Se non aceptas o uso destas cookies, podes bloquealas no navegador. As cookies utilizadas inclúen o seguinte:

<ul>
<li>Cookies de Google Analytics (__utma, __utmb, __utmc, __utmz)
Estas catro cookies son servidas por Google Analytics para recoller diversa información sobre a navegación da persoa usuaria polo site. Por exemplo, a ubicación da visitante, detalles da visita realizada (tempo, páxinas vistas, etc.). Ademais de bloquear estas cookies por medio do navegador, a usuaria pode utilizar este complemento facilitado polo propio Google para inhabilitar o servizo de Google Analytics na súa visita.</li>

<li>Cookies de Twitter e de Facebook. Para compartir nas súas redes sociais.</li>
</ul>
<p>Tamén podes encontrar información nas webs dos navegadores:

<br>Chrome: http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647
<br>Explorer: http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9
<br>Firefox: http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we
<br>Safari: http://support.apple.com/kb/ph5042
<br>Safari para IOS: http://support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES
<br>Opera: http://help.opera.com/Windows/11.50/es-ES/cookies.html

Lembra que nos caso de bloquear as cookies é posible que determinados servizos ou funcionalidades da web non funcionen correctamente.

{% endblock %}