{% extends "base.html" %}

{% block title %}Programa colaborativo {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

		$("img.sector").mouseover(function(){
			$(this).css('opacity',1);
	 	});
	 	$("img.sector").mouseout(function(){
			$(this).css('opacity',0.9);
		});
		$("img.sector").click(function() { 
			var i=$(this).attr('id');
            document.location = "sector.php?sector="+ i;
	 	});
		$(".barrio").mouseover(function(){
			$(this).attr('fill-opacity',1);
	 	});
	 	$(".barrio").mouseout(function(){
			$(this).attr('fill-opacity',0.5);	
		});
		$(".barrio").click(function() { 
			var i=$(this).attr('id');
            document.location = "barrio.php?barrio="+ i;
	 	});

	$(".sector").each(function() {
		var sector = $(this).text();
		sector = sector.replace(/-/g, ' ');
		$(this).html('<strong>'+sector+'</strong>');
	});


	$( "#distritos-inner" ).on('change','select',function() {
			if($(this).val()!='none'){
				$('a#ir_propuestas_barrios').attr('href','barrio.php?barrio='+$(this).val());
				$('a#ir_propuestas_barrios').removeClass('disabled')
			}
			else{
				$('a#ir_propuestas_barrios').addClass('disabled')
			}
	});
});

</script>
	<script>
	
	$('#myTab a').click(function (e) {
	  	e.preventDefault();
	  	$(this).tab('show');
	})
	</script>

<script src="static/js/main.js"></script>

{% endblock %}


{% block content %}
<div class="container principal">
	<!-- <div class="row">
		<div class="col-xs-12">
			<h1 class="center">PLATAFORMA DE PROGRAMA COLABORATIVO</h1>
		</div>
	</div> -->

	<div class="row" >
		<div class="col-md-10 col-md-offset-1 " id="intro-text" >
			<p class="text-center">Damosche a benvida á plataforma colaborativa do programa da Marea Atlántica. <br/>Aquí poderedes <strong> comentar, engadir e votar propostas:</strong> precisamos as vosas ideas para <strong>compoñer o programa que Coruña necesita. <br/>A plataforma estará aberta até o día 20 de marzo.</strong> Moitas grazas por participar!</p>
		</div>
	</div>	
	
	<div class="row" >
		<div class="col-md-4 col-md-offset-1 col-sm-6" >
			<a class="btn btn-success btn-lg btn-block" href="#programa" style="margin-top: 2em;">EXPLORA AS PROPOSTAS</a>
		</div>
		<div class="col-md-4 col-md-offset-2 col-sm-6">
			<a class="btn btn-success btn-lg btn-block" href="nueva-propuesta.php" style="margin-top: 2em;">SUBE UNHA NOVA PROPOSTA</a>
		</div>
	</div>	
	

		<h2 class="madrid" style="font-size:1.8em; text-align:left">O que se está a debater:</h2>


	
	{% include 'listados.html' %}
	<!--</div>  bug en listados parece que falta este div? -->
	
	<div id="programa">
		<div class ="row">
		 	<div class="col-xs-12"  > 
				<a name="sectores"></a><h2 class="madrid">Explora o programa por obxectivos</h2>
			<h4>O programa estructúrase en 5 grandes áreas. Cada área á súa vez componse de obxectivos e dentro destes obxectivos encóntranse as medidas. As apostas e os obxectivos definíronse nas diferentes mareas que levan a traballar varios meses. Nesta plataforma web vamos propoñer e votar as medidas concretas.</h4>
			</div>
		</div>
		<div class="row" id="areas-container">
				<div id="areas">
	            	<div id="paper" style="display : none"; }> </div> 
	        	</div>		      
		</div>
	</div>
</div> <!-- container -->

	




{% endblock %}
