{% extends "base.html" %}

{% block title %}Programa colaborativo {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

		$("img.sector").mouseover(function(){
			$(this).css('opacity',1);
	 	});
	 	$("img.sector").mouseout(function(){
			$(this).css('opacity',0.9);
		});
		$("img.sector").click(function() { 
			var i=$(this).attr('id');
            document.location = "sector.php?sector="+ i;
	 	});
		$(".barrio").mouseover(function(){
			$(this).attr('fill-opacity',1);
	 	});
	 	$(".barrio").mouseout(function(){
			$(this).attr('fill-opacity',0.5);	
		});
		$(".barrio").click(function() { 
			var i=$(this).attr('id');
            document.location = "barrio.php?barrio="+ i;
	 	});

	$(".sector").each(function() {
		var sector = $(this).text();
		sector = sector.replace(/-/g, ' ');
		$(this).html('<strong>'+sector+'</strong>');
	});


	$( "#distritos-inner" ).on('change','select',function() {
			if($(this).val()!='none'){
				$('a#ir_propuestas_barrios').attr('href','barrio.php?barrio='+$(this).val());
				$('a#ir_propuestas_barrios').removeClass('disabled')
			}
			else{
				$('a#ir_propuestas_barrios').addClass('disabled')
			}
	});
});

</script>
	<script>
	
	$('#myTab a').click(function (e) {
	  	e.preventDefault();
	  	$(this).tab('show');
	})
	</script>

<script src="static/js/main.js"></script>

{% endblock %}


{% block content %}
<div class="container principal">
	<!-- <div class="row">
		<div class="col-xs-12">
			<h1 class="center">PLATAFORMA DE PROGRAMA COLABORATIVO</h1>
		</div>
	</div> -->

	<div class="row" >
		<div class="col-md-10 col-md-offset-1 " id="intro-text" >
			<p class="text-center">Benvido/a ao banco de ideas de <strong>Ourense en Común</strong>. Chegou a hora de converter o noso <a href='http://ourenseencomun.info/manifesto/asina-o-manifesto'>desexo común</a> nun <strong>programa para transformar o noso Concello</strong> de acordo cos <a href='http://ourenseencomun.info/declaracion-de-principios'>principios básicos</a> que compartimos: democracia, participación, xustiza social, sustentabilidade, medio ambiente, compromiso ético e unha vida digna para todas e para todos. E para iso manteremos aberto este espazo até o <strong>XX de abril</strong>. Para que fagas as túas propias <strong>propostas</strong> e axudes, cos teus votos e comentarios, a mellorar as demais. <strong>Participa!</strong></p>
		</div>
	</div>	
	
	<div class="row" >
		<div class="col-md-4 col-md-offset-1 col-sm-6" >
			<a class="btn btn-success btn-lg btn-block" href="#programa" style="margin-top: 2em;">EXPLORA AS PROPOSTAS</a>
		</div>
		<div class="col-md-4 col-md-offset-2 col-sm-6">
			<a class="btn btn-success btn-lg btn-block" href="nueva-propuesta.php" style="margin-top: 2em;">SUBE UNHA NOVA PROPOSTA</a>
		</div>
	</div>	
	

		<h2 class="madrid" style="font-size:1.8em; text-align:left">O que se está a debater:</h2>


	
	{% include 'listados.html' %}
	<!--</div>  bug en listados parece que falta este div? -->
	
	<div id="programa">
		<div class ="row">
		 	<div class="col-xs-12"  > 
				<a name="sectores"></a><h2 class="madrid">Explora as propostas por obxectivos</h2>
			<h4>O programa electoral de Ourense en Común estrutúrase en cinco grandes áreas, e cada área engloba distintos obxectivos ou campos específicos de actuación. Emprega as etiquetas para atopar as propostas que máis che interesan e para facilitar que as outras persoas localicen as túas.</h4>
			</div>
		</div>
		<div class="row" id="areas-container">
				<div id="areas">
	            	<div id="paper" style="display : none"; }> </div> 
	        	</div>		      
		</div>
	</div>
</div> <!-- container -->

	




{% endblock %}
