{% extends "base_envia.html" %}

{% block title %} Nova proposta {% endblock %}

{% block scripts %}
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','link',]}).panelInstance('propuesta');
});
</script>
<script>
function getUrlVars() {
mstring = String( document.location.href ).replace( "#", "" );
var vars = {};
var parts = mstring.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
vars[key] = value;
});
return vars;
}
$(document).ready(function() {
$('#footer').hide();
R.scaleAll(0.6);

	optionIsSelected=false;


	distrito = getUrlVars()["distrito"];
	objetivo = getUrlVars()["objetivo"];

	
	$("#nuevapropuesta").validate({
	    rules: {
	      titulo: {
			required: true,
	      },
	      propuesta: {
	      	required: true,
	      }
	    },
	    messages:{
	      titulo: {
			required: "Tes que escribir un título para a túa proposta",
	      },
	      propuesta: {
	      	required: "Tes que escoller un sector",
	    }
	}
	});

//genera los objetivos bajo cada propuesta;
    $.each(listobjetivos.objetivos, function(index,jsonObject){

	        $('#lista-objetivos-'+jsonObject.apuesta).append('<label class="objetivo"><input type="radio" name="sector" class="'+
			'apuesta-' + jsonObject.apuesta +' " id="' + jsonObject.id+'" value="'+jsonObject.id+'"> ' + jsonObject.titulo+ ' </label>');
   
	});


	//distrito
	$('a#continue2').on('click',function(event){	 //viene de barrio
		event.preventDefault();
		
		if( $("#nuevapropuesta").valid()==true){
			$('#step-elige').hide();
			$('.apuesta input').prop('checked', false);
			$('#form-seleccion-objetivos').find('label').removeClass('active');	
			
			if( typeof distrito != 'undefined'){ // vienen de una página de distrito a añadir algo
				$('#step-distritos').show();
				//$('#step-elige-previous').show();
				$('#step-distritos h3.titulo1').empty().text('Vas engadir a túa proposta a este distrito:')
				

                $('#step-envia').show();
				if(!optionIsSelected)	{
					$("html, body").animate({ scrollTop: $('#step-distritos').offset().top-100},1000);
					optionIsSelected=true;
				}
				optionIsSelected=true;
				$("#distritoSelect").val(distrito);
                $("#distritoSelect").trigger('change');

			}
			else{
				$('#step-distritos').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-distritos').offset().top-100},1000);
				}); 
			}
			$('#footer').show();
		}

	})

		
	$('a#continue1').on('click',function(event){	//viene de sector
		event.preventDefault()
		

		if( $("#nuevapropuesta").valid()==true){
			$('#step-distritos').hide();
			$("#distritoSelect").val(distrito);
			if(typeof objetivo != 'undefined'){
				$('input#'+objetivo).prop('checked', true); 
				optionIsSelected=true;
				$('input#'+objetivo).trigger('change');
				$('#step-elige h3.titulo1').empty().html('Seleccionamos por ti o obxectivo segundo a páxina desde onde ves <strong> Cámbiao se a túa medida cadra mellor noutro lado</strong>')					
				$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				}); 
				$('#step-envia').show();
				
			}
			else{
				$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				}); 
			}
			$('#footer').show();
		}			
	});

	$('a#show-step-elige').on('click',function(event){
		$('#step-elige-previous').hide();
		$('#step-elige').fadeIn("fast", function(){ 
					$("html, body").animate({ scrollTop: $('#step-elige').offset().top-100},1000);
				});
	});
	
	$("#lista-objetivos input:radio").change(function () {
			$('#form-seleccion-objetivos').find('label').removeClass('active');	
			//$('#step-distritos').show();
			/*$('.nicEdit-panelContain').parent().width('100%');
			$('.nicEdit-panelContain').parent().next().width('98%');
			$('.nicEdit-main').width('100%');

			$('.nicEdit-main').css('min-height','10em');*/
			if($(this).is(':checked')){
				$(this).parent().addClass('active');
			}
			if(!optionIsSelected){	//first time scroll to the send element		 
				$('#step-envia').show();
				$("html, body").animate({ scrollTop: $('#step-envia').offset().top-100},1000);
			}

			optionIsSelected=true;

			
		});

	

	$( "#step-distritos" ).on('change','select',function() {
	  if($(this).val()!=""){
	  	$('div#canvas').fadeIn();
	  	if(!optionIsSelected){	//first time scroll to the send element		 
				$('#step-envia').show();
				$("html, body").animate({ scrollTop: $('#step-envia').offset().top-100},1000);
		}else{
			$('#step-envia').show();
		}
		optionIsSelected=true;	
	  }else{
	  	$('div#canvas').fadeOut();
	  	$('#step-envia').hide();
	  }
	});

});
</script>
{% endblock %}
{% block content %}
<div class="container principal">

	<form class="form-horizontal" role="form" id="nuevapropuesta" action="nueva.php" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="central col-md-8">			
				<div id="step-escribe">
					<h1 > OS PROBLEMAS E SOLUCIÓNS PARA CORUÑA SON MOITOS E COMPLEXOS... <br/>E TI... QUE PROPÓS? </h1>
					<h4><p> Faranche falla <strong> só 3 sinxelos pasos</strong> para enviar unha proposta (ou tal vez menos!) </p> <p> Terás que introducir a túa nova medida e despois asignala baixo unha categoría </p>
						<p> <small>Non esquezas que xa hai moitas medidas incluídas na plataforma, <a href="index.php#sectores"> empeza por botar unha ollada ao que xa está </a> antes de enviar algo novo </small></p>
					</h4>	
					    		<h3>1. Comeza por escribir a túa nova medida dunha forma clara e concisa: </h3>	
					<div class="col-xs-10 col-md-offset-1">
					  <div class="form-group">
					    <label for="titulo">Título *</label>
					    <input type="text" name ="titulo" class="form-control" id="titulo"
					           placeholder="Título da proposta">
					  </div>
					</div>
					
					<div class="col-xs-10 col-md-offset-1">
					  <div class="form-group">
					    <label for="propuesta">Escribe a proposta *</label>
					    <textarea class="form-control" name="propuesta" id="propuesta" rows="10"></textarea> 
					  </div>
					  <div> <h4> Podes clasificar a proposta como asociada a un barrio da Coruña ou en xeral para toda a cidade mais asociada a un obxectivo </h4> </div>
					  <div class="col-sm-5" style="margin-top:5px">
					  	<a href="#" id="continue1" class="btn-lg btn-block btn btn-success"> Para toda a cidade</a> 
					  </div>
					  <div class="col-sm-5" style="margin-top:5px">
					  	<a href="#" id="continue2" class="btn-lg btn-block btn btn-success"> Asociada a un barrio</a>
					  </div>
					</div>
				</div>			
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<div class="barra-der">
					{% include 'sidebar.html' %}
				</div>
			</div>
		</div> <!-- row-->
		<div class="row">
			<div id="step-elige-previous">
				<div class="col-xs-12" >
					<small> 2. Saltámonos o paso 2 porque parece que a túa proposta se centra nun barrio. <br/>
					Si nos equivocamos e a túa proposta é para toda a cidade <a href="#" id="show-step-elige">preme aquí e poderás elixir a categoría:</a> </small>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="step-elige">
				<div class="col-xs-12" id="lista-objetivos">
					<h3 class="titulo1"> 2. AGORA ESCOLLE <strong>UN OBXECTIVO </strong>  ONDE ENCADRAR A TÚA PROPOSTA: </h3>
					<div class="form-group" id="form-seleccion-objetivos"  >
					<input type="radio" name="sector" class=" " id="empty_radio" value="" checked style="display:none">
						<div class="row"> 		    		
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-derechos-equidad">
									<h3> Derechos sociales y Equidad</h3>
								</div>
							</div>
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-ciudad-sostenible">
									<h3> Ciudad sostenible, cohesionada y cercana </h3>
								</div>
							</div>
						</div>
						<div class="row"> 		
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-gobierno-democratico">
									<h3> Gobierno Democrático, transparente y eficaz</h3>
								</div>
							</div>
							<div class="col-md-6" >
								<div class="apuesta" id="lista-objetivos-economia-empleo">
									<h3> Economía sostenible y empleo de calidad</h3>
								</div>
								<div class="apuesta" id="objetivo-sin-objetivo">
									<br/>
									<label class="objetivo" style="color:#000"><input type="radio" name="sector" class="" id="" value="sin-categoria"> Non sei onde encaixar esta proposta. </label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="step-distritos">
			<h3 class="titulo1"> 3. A túa medida está centrada nun barrio: </h3>
			<div class="row" id="distritos-inner">				
				<div class="col-md-6">
					<div id="info-distrito">
						<div id="nombre-distrito">
							<div class="form-group">
								<select value="" id="distritoSelect" name="barrio" class="form-control">
									<option value="">Elixe barrio </option>
								</select>
							</div> 
						</div> 
						<div id="datos-distrito"> </div>
					</div>
					
					<div class="info-ayuda">
						
					</div>										
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
					<div id="canvas">
						<div id="paper"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="step-envia">
			<div class="row">
						<h3>4. Terminaches! Agora preme enviar para mandarnos a túa proposta.</h3>
						
						<button type="submit" id="enviar" class="btn-lg btn-block btn btn-success">Enviar</button>
						<span class="mini-texto-ayuda"> *Nota: unha vez premas enviar non poderás volver a editar a túa proposta</span>
			</div>
		</div>
				
			
</form>
</div> <!--container principal-->
{% endblock %}
