{% extends "base2.html" %}

{% block title %}
	{% if tag %}
		Propostas de {{tag}} 
	{%else%}
		Propostas de programa
	{% endif %}
	{% endblock %} 
{% block scripts %}
<script>
$(document).ready(function() {
	/*$(".sector").each(function() {
		var sector = $(this).text();
		sector = sector.replace(/-/g, ' ');
		$(this).html('<strong>'+sector+'</strong>');
	});*/

	obj="{{tag}}"
	infoObjetivo=getObjetivo(obj);
	if(infoObjetivo!=null){
		$('.objetivo-descripcion').empty().html(infoObjetivo.descripcion)
		$('.objetivo-titulo').empty().html(infoObjetivo.titulo)
	}
	
});

</script>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h2 > <small><i>obxectivo:</i></small> <br/><span class="objetivo-titulo"> </span></h2>
			<p class="objetivo-descripcion"> </p>

		</div>
	</div>
	
	{% include 'listados.html' %}
	

	{% if user %}
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-center"> Botas de menos algunha medida neste obxectivo? </h4>
			<a class="btn btn-success btn-lg btn-block" href="nueva-propuesta.php?objetivo={{tag}}">SUBIR UNHA NOVA MEDIDA</a>
		</div>
	</div>	
	{% else %}
	<div class="row">
		<div class="col-xs-12">
			<a href="login.php"> Tes que estar identificado/a para facer unha proposta. Rexistrate e participa!</a>
		</div>
	</div>
	{% endif %}

	

	<script>
	
	$('#myTab a').click(function (e) {
	  	e.preventDefault();
	  	$(this).tab('show');
	})
	</script>
{% endblock%}